<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Covert module</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Covert</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                This module encapsulates functionality over VPN lists and TOR exit nodes lists.
                You can add providers (URLs) of this kind of lists here, see tem, delete them.
                They will ultimately be used during geolocation.
            </p>
        </div>
    </div>

</body>
</html>


