<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Geolocation module</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Geolocation</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                This module encapsulates functionality over Geolocation databases providers. This module offers
                options like: add new provider, edit existing provider ([de]activate), delete provider, ...
                Providers are referred to by their respective APIs, which need to be in order with API documentations.
            </p>
        </div>

        <a href="/providers" class="btn btn-info">List of GeoDB providers in system</a>
        
    </div>

</body>
</html>


