<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Suspicions module</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Suspicious</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                This module covers functionality over addition of IP address lists to the system.
                These lists should have a tag representing, what kind of activity are they related
                to. They will be used during geolocation of other IPs, but they can be also used as 
                primary source of investigation.
            </p>
        </div>
    </div>

</body>
</html>


