
<h5 class="display-5 mt-4">Information relevant, to this system only</h5>

<!-- System notes -->



<div class="bd-callout bd-callout-info">
    <p>
        These are information, necessary for the remote API to understand our request.
        
        Some APIs are free, some are payed. All of them have different URLs under which they are accessible.
        Sometimes they can be accessed via pure url + '192.168.0.1', but sometimes you need to create
        POST request and put information into the body.
    </p>
</div>
<h5 class="display-5 mt-4">Service's request fields (see service's documentation)</h5>

<small class="form-text text-muted mb-4">Inputs marked with * are required.</small>

<!-- akcne tlacidla -->
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>