<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Blocklist module</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/blklist/">Blocklists</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New source</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                In work
            </p>
        </div>
        
        <%- include('../_errorCheck') %> 

        <!-- main content -->
        <form action="/blklist" method="POST">
            <!-- this is to output raw html instead of conerting to String -->
            <%- include('_form_fields_provider') %>
        </form>

        <!-- footer with name, year, FIIT, www -->
        <%- include('../_footer') %>  
        
    </div>

</body>
</html>


