<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_headerModal') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Blocklist module</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Blocklists</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
            </p>
        </div>

        <!-- akcne tlacidlo -->
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary mb-4">Modal</a>

        <!-- zoznam -->
        <!-- test tabulka END -->
        
        
        


        <!-- footer with name, year, FIIT, www -->
        <%- include('../_footer') %> 
        
    </div>

    <%- include('../www_modals/example') %>
</body>
</html>


