<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 

<body onload="afterLoaded()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    
    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Manual list addition</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/suspect">Suspicious</a></li>
                  <li class="breadcrumb-item"><a href="/suspect/providers">Sources</a></li>
                  <li class="breadcrumb-item active" aria-current="page">New list</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Add list of IPs manually and tag them.
            </p>
        </div>
         
        <form action="/suspect/list" method="POST">
            <!-- this is to output raw html instead of converting to String -->
            <%- include('_form_fields_suspect_list') %>
        </form>

    </div>
</body>

<!-- toto sa zobrazi po nacitani stranky -->
<script>
    function afterLoaded() {
        var queryString = window.location.search
        var urlParams = new URLSearchParams(queryString)

        if (urlParams.get('invalid') == '1') {
            swal({icon: 'error', title: 'Ooops!', text: 'One or more IPs are invalid.', button: false, timer: 1500})
        }
    }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js" integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js" integrity="sha512-KT0oYlhnDf0XQfjuCS/QIw4sjTHdkefv8rOJY5HHdNEZ6AmOh1DW/ZdSqpipe+2AEXym5D0khNu95Mtmw9VNKg==" crossorigin="anonymous"></script>
    

</html>