<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>
    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Manual list addition</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/suspect">Suspicious</a></li>
                  <li class="breadcrumb-item"><a href="/suspect/providers">Providers</a></li>
                  <li class="breadcrumb-item active" aria-current="page">New</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Add a new URL that contains the IPs
            </p>
        </div>
         
        <form action="/providers" method="POST">
            <!-- this is to output raw html instead of conerting to String -->
            <%- include('_form_fields_suspect_source') %>
        </form>

    </div>
</body>
</html>