<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body onload="afterLoaded()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Make a new request</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/requests">Results</a></li>
                  <li class="breadcrumb-item active" aria-current="page">New Request</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Here it's possible to make a new request. One IP, batch of IPs, ... All active providers will be put into data retrieval attempt. 
            </p>
        </div>
         
        <form action="/requests" method="POST">
            <!-- this is to output raw html instead of conerting to String -->
            <%- include('_form_fields_request') %>
        </form>

    </div>

    <!-- toto sa zobrazi po nacitani stranky a hladam v tom parameter unauthorized, ktory sa posle len po zle zadanom hesle -->
    <script>
        function afterLoaded() {
            var queryString = window.location.search
            var urlParams = new URLSearchParams(queryString)

            if (urlParams.get('unauthorized') == '1') {
                swal({icon: 'error', title: 'Ooops!', text: 'You\'ve entered a wrong password.', button: false, timer: 1500})
            } else if (urlParams.get('invalid') == '1') {
                swal({icon: 'error', title: 'Ooops!', text: 'One or more IPs are invalid.', button: false, timer: 1500})
            }
        }
    </script>
</body>
</html>