<div class="alert alert-info">
    <h1 class="mb-4 display-4"><%= site.title %></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <% var len = site.crumbs.length %>
            <% var itr = 0 %> 
            <% site.crumbs.forEach(crumb => { %> 
                <% if (++itr < len) { %> 
                    <li class="breadcrumb-item"><a href="<%= crumb.url %>"><%= crumb.name %> </a></li>
                <% } else { %> 
                    <li class="breadcrumb-item active" aria-current="page"><%= crumb.name %> </li>
                <% } %> 
            <% }) %>
            
        </ol>
      </nav>
</div>