<% if (typeof error !== 'undefined') { %> 
    <div class="bd-callout bd-callout-danger">
        <p>
            Check fields for incorrect URLs, invalid strings, missing fields.
        </p>
    </div>
<% } %> 