<div class="center mt-1">
    <div class="row">
        <div class="col-md-4">
            <small class="form-text text-muted">FIIT STU @ 2022</small>
        </div>
        <div class="col-md-4">WhereDaIp 0.9</div>
        <div class="col-md-4">
            <a href="http://cergina.github.io">cergina.github.io</a>
        </div>
    </div>
</div>