<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Welcome, <%= name %></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Running since: <%= startedAt %>
            </p>
        </div>

        <a href="/state" class="btn btn-info">Application status</a>
        <a href="/geolocation" class="btn btn-primary">Geolocation</a>
        <a href="/covert" class="btn btn-secondary">Covert module</a>
        <a href="/suspect" class="btn btn-secondary">Suspicious module</a>
        <a href="/presentation" class="btn btn-danger">Results</a>
        <a href="/faq" class="btn btn-warning">FAQ</a>

        <br>
        Old layout buttons under <br>
        <a href="/providers" class="btn btn-info">List of GeoDB providers in system</a>
        <a href="/requests" class="btn btn-info">List of IP responses in Database</a>
        <a href="/state" class="btn btn-info">Application status</a>
    </div>

</body>
</html>


