<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('_headerIntro') %> 
<body onload="initialize()">

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Welcome, <%= name %></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Running since: <%= startedAt %>
            </p>
        </div>

        
        <div class="row">
            <div class="col-md-2">
                <!-- links -->
                <a href="/state" class="btn btn-info btn-block">Application status</a>
                <a href="/geolocation" class="btn btn-primary btn-block">Geolocation</a>
                <a href="/covert" class="btn btn-secondary btn-block">Covert module</a>
                <a href="/suspect" class="btn btn-secondary btn-block">Suspicious module</a>
                <a href="/blklist" class="btn btn-secondary btn-block">Blocklist module</a>
                <a href="/presentation" class="btn btn-danger btn-block">Results</a>
                <a href="/faq" class="btn btn-warning btn-block">FAQ</a>
                <a href="/test" class="btn btn-warning btn-block"> - test -</a>
            </div>
            
            <div class="col-md-10">
                <!-- main test -->
                <div class="mt-2 mb-2" id="earth_div"></div>
            </div>
        </div>

        <%- include('_footer') %> 
    </div>
</body>
</html>


