<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('_header') %> 
<body>
    <div class="container">
         
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">How to use this service?</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Here is a GitHub repo and some future update on manual.
            </p>
        </div>

        <a href="https://github.com/cergina/WhereDaIp" class="btn btn-primary">GitHub repo</a>
    </div>
</body>
</html>