<div class="modal fade" id="todoModalCenter" tabindex="-1" role="dialog" aria-labelledby="todoModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="todoModalLongTitle">What's left to do</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Incorporate geolocation based on suspicious lists (start small - LIMIT)</li>
          <li class="list-group-item">Finish all graphs (from geolocation and fusions with lists)</li>
          <li class="list-group-item">Finish all maps (from geolocation and fusions with lists)</li>
          <li class="list-group-item">Algorithm to prevent GeoDB limit MAXING</li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>