<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Maps crossroads</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/presentation/">Results</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Maps</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                Crossroads for maps.
            </p>
        </div>

        <h4 class="mb-2 mt-2">Temp</h1>
        <a href="/maps/test" class="btn btn-info">Test</a>
    </div>

</body>
</html>


