<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Maps crossroads</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/presentation/">Results</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Maps</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p> 
                Crossroads for maps.
            </p>
        </div>


        <!-- <div class="p-3 mt-2 mb-2 bg-secondary text-white">
            <h4 class="mb-1">Temp</h4>
            <p class="lead">This is for map testing purposes.</p>
            <div class="btn-group" role="group" aria-label="Test div">
                <a href="/maps/test" class="btn btn-secondary">Test</a>
                <a href="/maps/test?latitude=39.03&longitude=-77.5&target=8.8.8.8" class="btn btn-secondary">Test with geo</a>
                <a href="/maps/testMultiple" class="btn btn-secondary">Test with more IPs</a>
            </div>
        </div> -->

        <div class="p-3 mt-2 mb-2 bg-dark text-white">
            <h4 class="mb-1">Stats</h4>
            <p class="lead">Statistics from data in system visualized on 3D Earth model.</p>
            <div class="btn-group" role="group" aria-label="Test div">
                <a href="/maps/requests" class="btn btn-secondary">Requests</a>
            </div>
        </div>

        <div class="p-3 mt-2 mb-2 bg-dark text-white">
            <h4 class="mb-1">Botnets</h4>
            <p class="lead">Various botnet types and their estimated threat origins visualized on 3D Earth model.</p>
            <div class="btn-group" role="group" aria-label="Test div">
                <a href="/maps/qakbot" class="btn btn-secondary">QakBot</a>
                <a href="/maps/emotet" class="btn btn-secondary">Emotet</a>
                <a href="/maps/dridex" class="btn btn-secondary">Dridex</a>
                <a href="/maps/trickbot" class="btn btn-secondary">TrickBot</a>
            </div>
        </div>

        <!-- footer with name, year, FIIT, www -->
        <%- include('../../_footer') %> 
    </div>
</body>
</html>


