<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../../_headerMapLocal') %> 
<body onload="initialize()">
    
    <div class="container"> 
        <!-- alert at top -->
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Maps</h1> 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/presentation/">Results</a></li>
                    <li class="breadcrumb-item"><a href="/maps">Maps</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Test</li>
                </ol>
              </nav>
        </div>

        <!-- main test -->
        <div id="earth_div"></div>
        
        <!-- footer with name, year, FIIT, www -->
        <%- include('../../_footer') %> 
    </div>
</body>
</html>


