<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../../_headerGraph') %> 
<body>
    <% var countGraphs = 3 %> 

    <div class="container">
        <!-- alert at top -->
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Graphs</h1> 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/presentation/">Results</a></li>
                    <li class="breadcrumb-item"><a href="/graphs">Graphs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Online</li>
                </ol>
              </nav>
        </div>

        <!-- main content -->
        <%- include('./_graphsThree.ejs') %> 

        <!-- footer with name, year, FIIT, www -->
        <%- include('../../_footer') %> 
    </div>

    <script>
        let chartCtx0 = document.getElementById('chart0').getContext('2d')
        let chartCtx1 = document.getElementById('chart1').getContext('2d')
        let chartCtx2 = document.getElementById('chart2').getContext('2d')
        var chart0
        var chart1
        var chart2
        let data0
        let data1
        let data2
    </script>

    <script>
    fetch("/accessible/comparedOnline.json")
        .then(response => response.json())
        .then(data => {
            // Perform Deep copy
            data0 = JSON.parse(JSON.stringify(data))
            data1 = JSON.parse(JSON.stringify(data))
            data2 = JSON.parse(JSON.stringify(data))
            let time = data.time

            // ChartJS 0
            chart0 = new Chart(chartCtx0, data0)

            // ChartJS 1
            data1.type = 'polarArea'
            chart1 = new Chart(chartCtx1, data1)

            // ChartJS 2
            data2.type = 'pie'
            chart2 = new Chart(chartCtx2, data2)

            // GridJS
            new gridjs.Grid({ 
                columns: data.forGridJs.tableNames,
                data: data.forGridJs.tableValues
            }).render(document.getElementById('wrapper'))
            
            document.getElementById('datetime').textContent = `Data calculated at ${time}`
        })
    </script>
    
  
</body>
</html>


