<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Graphs crossroads</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/presentation/">Results</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Graphs</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                Crossroads for graphs.
            </p>
        </div> 

        <h4 class="mb-2 mt-2">Temp</h1>
        <a href="/graphs/test" class="btn btn-info">Test</a>

        <h4 class="mb-2 mt-3">Top</h1>
            <a href="/graphs/top/origin" class="btn btn-info">Origin</a>
            <a href="/graphs/top/types" class="btn btn-info">Types</a>
            <a href="/graphs/top/ports" class="btn btn-info">Ports</a>
            <a href="/graphs/top/as" class="btn btn-info">AS</a>
            <a href="/graphs/top/tags" class="btn btn-info">Tags</a>

        <h4 class="mb-2 mt-3">Compared</h1>
        <a href="/graphs/compared/online" class="btn btn-info">Online</a>
        <a href="/graphs/compared/covered" class="btn btn-info">Hidden</a>
        <a href="/graphs/compared/domain" class="btn btn-info">Domains</a>

        <h4 class="mb-2 mt-3">Misc</h1>
        <a href="/graphs/activity" class="btn btn-info">Activity</a>
    </div>

</body>
</html>


