<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../../_header') %> 
<body>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Graphs crossroads</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/presentation/">Results</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Graphs</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info mb-4">
            <p>
                Crossroads for graphs.
            </p>
        </div> 

        <div class="p-3 mt-2 mb-2 bg-light text-dark">
            <h4 class="mb-1">Temp</h4>
            <p class="lead">This is for testing purposes.</p>
            <div class="btn-group" role="group" aria-label="Test div">
                <a href="/graphs/test" class="btn btn-sm btn-outline-secondary">Test</a>
            </div>
        </div>

        <div class="p-3 mt-2 mb-2 bg-light text-dark">
            <h4 class="mb-1">Top</h4>
            <p class="lead">Certain attributes are tracked here. Top 5 is shown within graph and there is a full list under it.</p>
            <div class="btn-group" role="group" aria-label="Top div">
                <a href="/graphs/top/origin" class="btn btn-lg btn-outline-secondary">Origin</a>
                <a href="/graphs/top/types" class="btn btn-lg btn-outline-secondary">Types</a>
                <a href="/graphs/top/ports" class="btn btn-lg btn-outline-secondary">Ports</a>
                <a href="/graphs/top/as" class="btn btn-lg btn-outline-secondary">AS</a>
                <a href="/graphs/top/tags" class="btn btn-lg btn-outline-secondary">Tags</a>
            </div>
        </div>
        
        <div class="p-3 mt-2 mb-2 bg-light text-dark">
            <h4 class="mb-1">Compared</h4>
            <p class="lead">Comparison based attributes are shown within graphs inside.</p>
            <div class="btn-group" role="group" aria-label="Compared div">
                <a href="/graphs/compared/online" class="btn btn-lg btn-outline-secondary">Online</a>
                <a href="/graphs/compared/covered" class="btn btn-lg btn-outline-secondary">Hidden</a>
                <a href="/graphs/compared/domain" class="btn btn-lg btn-outline-secondary">Domains</a>
            </div>
        </div>
        
        <div class="p-3 mt-2 mb-2 bg-light text-dark">
            <h4 class="mb-1">Misc</h4>
            <p class="lead">System based miscelaneous information.</p>
            <div class="btn-group" role="group" aria-label="Compared div">
                <a href="/graphs/activity" class="btn btn-sm btn-outline-secondary">Activity</a>
            </div>
        </div>


        <!-- footer with name, year, FIIT, www -->
        <%- include('../../_footer') %> 
    </div>
</body>
</html>


