<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    

    <title>GeoDB provider list</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4 display-4">List of providers in the system</h1>
        <a href="/providers/new" class="btn btn-success">Add New Provider</a>
        <a href="/" class="btn btn-dark">Home</a>
         
    </div>
</body>
</html>