<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../_header') %> 
<body onload="afterLoaded()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <div class="container">
        <div class="alert alert-info">
            <h1 class="mb-4 display-4">Name: <%= provider.name %></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/providers">Providers</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
              </nav>
        </div>
        <div class="bd-callout bd-callout-info">
            <p>
                Here you can view the details of already stored geolocation service in the database.
                It's possible to change some fields and save them. Be warned, that changing these
                fields may result in the service not working. See service's API documentation.
            </p>
        </div>

        <form action="/providers/edit/<%= provider.id %> " method="POST">
            <!-- this is to output raw html instead of conerting to String -->
            <%- include('_form_fields_provider') %>
        </form>
    </div>

    <!-- toto sa zobrazi po nacitani stranky a hladam v tom parameter changed, ktory sa posle len po uspesnom ulozeni a redirecte na toto -->
    <script>
        function afterLoaded() {
            var queryString = window.location.search
            var urlParams = new URLSearchParams(queryString)

            if (urlParams.get('changed') == '1') {
                swal({icon: 'success', title: 'Saved!', button: false, timer: 1500})
            }
        }
    </script>
</body>
</html>